* {
    box-sizing: border-box;
    font-family: monospace;
    font-size: 1.3vh;
    letter-spacing: -0.04em;
    background-color: #FBFADB;
    color: black;
    line-height: 138%;
  }

.photos {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: scroll;
  align-items: center;
  width: 1500px;
  height: 1100px;
}

.photos img {
  height: 1100px; 
  width: auto;
  margin-right: 40px;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 1100px;
}

.links {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 350px;
}

.links a {
  text-decoration: none;
}

.main {
  max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-left: 120px;
    margin-right: auto;
    margin-top: 200px;
    margin-bottom: 0;
}




  

  
  